<footer class="footer">
  <span class="footer__description-text">#VisitSedona</span>
  <ul class="footer__social-list social reset-list">
    <li class="social__item">
      <a class="social__link social__link--vkontakte" href="https://vk.com/htmlacademy" aria-label="Наша группа ВКонтакте" title="Наша группа ВКонтакте" target="_blank" rel="noopener nofollow"></a>
    </li>
    <li class="social__item">
      <a class="social__link social__link--telegram" href="https://htmlacademy.t.me/" aria-label="Наш канал в Телеграм" title="Наш канал в Телеграм" target="_blank" rel="noopener nofollow"></a>
    </li>
    <li class="social__item">
      <a class="social__link social__link--youtube" href="https://www.youtube.com/user/htmlacademyru" aria-label="Наш канал в YouTube" title="Наш канал в YouTube" target="_blank" rel="noopener nofollow"></a>
    </li>
    <li class="social__item">
      <a class="social__link social__link--github" href="https://github.com/nemtsev-k/sedona" aria-label="Исходный код в GitHub" title="Исходный код в GitHub" target="_blank" rel="noopener nofollow"></a>
    </li>
  </ul>
  <a class="footer__copyright-link copyright" href="https://htmlacademy.ru/intensive/adaptive" aria-label="Проект из онлайн-курса HTML Academy" title="Проект из онлайн-курса HTML Academy" target="_blank" rel="noopener nofollow">Разработано</a>
</footer>
