@use "../base/variables.scss" as *;

.social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $main-color;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &--vkontakte::before {
    mask-image: url("../images/sprite.svg#vk");
  }

  &--telegram::before {
    mask-image: url("../images/sprite.svg#telegram");
  }

  &--youtube::before {
    mask-image: url("../images/sprite.svg#youtube");
  }

  &--github::before {
    mask-image: url("../images/sprite.svg#github");
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    &::before {
      opacity: 0.3;
    }
  }
}
